.cache
vendor
wp
wp-errors.log

wp-content/*
!wp-content/themes
wp-content/themes/*
!wp-content/themes/telescope
!wp-content/plugins
wp-content/plugins/*
!wp-content/plugins/telescope-blocks
/wp-config.php

