$white: #ffffff;
$black: #000000;
$grey-100: #f0f0f0;
$grey-200: #f4f4f5;
$grey-300: #71717a;
$grey-400: #2f2f2f;
$red: #ff5c48;
$orange: #f7a454;
$green: #83bd45;
$light-green: #ebf4e4;
$blue: #1d4ed8;
$blue-light: rgb(213, 231, 247);
$blue-dark: rgb(30, 34, 37);

$text-base: $grey-300;

$color__background-body: #ebf4e4;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #1d4ed8;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #000000; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #707070; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
