$size-site-small: 92rem;
$size-site: 146rem;
$size__site-main: 100%;
$size-sidebar: 26.8rem;
/**
 * Breakpoints
 */
$tablet-portrait: 600px;
$tablet-landscape: 900px;
$desktop: 1200px;
$medium-desktop: 1440px;
$fhd: 1920px;
$qhd: 2560px;
$four-k: 3840px;
$eight-k: 7680px;
