$primary: "Inter", sans-serif;
$secondary: "Work Sans", serif;
$highlighted: "Arial Light", serif;
$cursive: "Cursive", cursive;

$code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$pre: "Courier 10 Pitch", courier, monospace;
$line-height-pre: 1.6;
