/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-telescope-blocks-recent-posts {
	.swiper-wrapper {
		padding: 0;

		display: flex;
		column-gap: 20px;
	}

	.card {
		p {
			margin: 0;
		}
	}
}
