/**
* Inter.
*/
@font-face {
  font-family: "Inter ExtraLight";
  src: url("./../fonts/Inter-ExtraLight.woff2") format("woff2"),
    url("./../fonts/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Light";
  src: url("./../fonts/Inter-Light.woff2") format("woff2"),
    url("./../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Regular";
  src: url("./../fonts/Inter-Regular.woff2") format("woff2"),
    url("./../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Medium";
  src: url("./../fonts/Inter-Medium.woff2") format("woff2"),
    url("./../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter SemiBold";
  src: url("./../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("./../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Bold";
  src: url("./../fonts/Inter-Bold.woff2") format("woff2"),
    url("./../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter ExtraBold";
  src: url("./../fonts/Inter-ExtraBold.woff2") format("woff2"),
    url("./../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Black";
  src: url("./../fonts/Inter-Black.woff2") format("woff2"),
    url("./../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/**
* Work Sans.
*/
@font-face {
  font-family: "Work Sans ExtraLight";
  src: url("./../fonts/Work-Sans-ExtraLight.woff2") format("woff2"),
    url("./../fonts/Work-Sans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans Light";
  src: url("./../fonts/Work-Sans-Light.woff2") format("woff2"),
    url("./../fonts/Work-Sans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans Regular";
  src: url("./../fonts/Work-Sans-Regular.woff2") format("woff2"),
    url("./../fonts/Work-Sans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans Medium";
  src: url("./../fonts/Work-Sans-Medium.woff2") format("woff2"),
    url("./../fonts/Work-Sans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans SemiBold";
  src: url("./../fonts/Work-Sans-SemiBold.woff2") format("woff2"),
    url("./../fonts/Work-Sans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans Bold";
  src: url("./../fonts/Work-Sans-Bold.woff2") format("woff2"),
    url("./../fonts/Work-Sans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans ExtraBold";
  src: url("./../fonts/Work-Sans-ExtraBold.woff2") format("woff2"),
    url("./../fonts/Work-Sans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans Black";
  src: url("./../fonts/Work-Sans-Black.woff2") format("woff2"),
    url("./../fonts/Work-Sans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
